@import '../styles/variables.css';

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    backdrop-filter: blur(10px);
    /* Frosted glass effect */
    color: var(--color-sunburst-white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    /* Slightly stronger shadow */
    transition: background-color 0.3s ease;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 80px;
}

/* Logo */
.navbar-logo {
    font-size: 3.5rem;
    font-weight: bolder;
    color: var(--color-navbar-text);
    font-family: 'SF Hello', sans-serif;
    /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); */
}

.navbar-logo-img {
    height: 135px;
    width: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* Button Styles */
.navbar-button {
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-sunburst-white);
    background-color: var(--color-navbar-bg);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover and Active States */
.navbar-button:hover {
    background-color: var(--color-navbar-hover);
    transform: scale(1.05);
}

/* Responsive Design */
.navbar-toggle {
    display: none;
    font-size: 1.5rem;
    color: var(--color-sunburst-white);
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        background-color: var(--color-navbar-bg);
        width: calc(100% - 2rem);  /* very cool */
        padding: 1rem;
        position: absolute;
        top: 100%;
        right: 1rem;
    }

    .navbar-links.open {
        display: flex;
    }

    .navbar-button {
        margin: 0.5rem 0;
        width: 100%;
    }
}

.logout-btn {
    background-color: var(--color-navbar-logout);
    cursor: pointer;
    font-size: 1rem;
}

.logout-btn:hover {
    background-color: var(--color-hover);
    transform: scale(1.05);
}